body{
	background-image: url("../img/background.jpg");
}

header{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

footer{
	background-color: #fff;
}

.content-footer{
	background-color: #0d0d0d;
	text-align: center;
}